{% extends '::base.html.twig' %}
{% block contenido %}

<form action="{{ path('pais')}}" method="post" {{ form_enctype(form) }} novalidate>
    <h3>Agregar País</h3>
    <div class="addUbication">
        <table>
            {{ form_start(form) }}
            <tr>
                <td>{{ form_label(form.nombre) }}</td>
                <td>{{ form_widget(form.nombre) }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form_errors(form.nombre) }}</td>                
            </tr>
            <tr>
                <td>{{ form_row(form.salvarPais) }}</td>
                <td></td>
            </tr>
        </table>
    </div>    
</form>
<table class="listar">
        <tr>
            
            <td>Identificador de {{informacion.tabla}}</td>
            <td>Nombre de {{informacion.tabla}}</td>
            <td></td>
            
        </tr>
        {% for listar in listar %}
        <form action="{{ path('pais')}} " method="post" {{ form_enctype(form) }} novalidate>
        <tr>    
            <td>{{ listar.id }}</td>
            <td>{{ listar.nombre }}</td>
            <td><input type="submit" name="eliminar" value="eliminar"></td>
            <td><input type="hidden" name="valorEliminar" value="{{ listar.id }}"></td>
            <td><input type="hidden" name="inferior" value="{{ informacion.inferior }}"></td>
            <td><input type="hidden" name="tabla" value="{{ informacion.tabla }}"></td>
        <tr/>    
        </form>
        {% endfor %}
    </table> 

{% endblock %}
