{% extends '::base.html.twig' %}
{% block contenido %}
<script src="{{ asset('js/mootools2.js') }}"></script>
<link href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}" rel="stylesheet" media="screen">
<link href="{{ asset('css/modal.css') }}" rel="stylesheet" media="screen">
<script src="{{ asset('js/Chart.js-master/Chart.js') }}"></script>
<script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ asset('js/calendar.js') }}"></script>
<link href="{{ asset('css/calendar.css') }}" rel="stylesheet" media="screen">
<script lang="text/javascript">
    $(document).ready(function(){
         var cw = $('#infoGeneral').height();
         $('#infoProf').css('height', cw+'px');
    });  
</script>
<script type="text/javascript">
    (function($){
        $(window).load(function(){
            var cw = $('#infoGeneral').height();
            var ce = cw - 38 - cw * 0.30;
            $('#containerScroll').css('height', ce+'px');
            $('#containerScroll1').css('height', ce+'px');
            $('#containerScroll2').css('height', ce+'px');
            $('#containerScroll3').css('height', ce+'px');
            $("#containerScroll").mCustomScrollbar();
            $("#containerScroll1").mCustomScrollbar();
            $("#containerScroll2").mCustomScrollbar();
            $("#containerScroll3").mCustomScrollbar();
            $("#containerScroll4").mCustomScrollbar();
        });
    })(jQuery);
</script>
<script type="text/javascript">
    $(document).ready(function(){
         var cw = $('#infoGeneral').height();
         $('#infoGeneral').css('height', cw+'px');
         $('#infoProf').css('height', cw+'px');
         $('#infoFin').css('height', cw+'px');
         $('#infoEtapa').css('height', cw+'px');
         $('#infoAdic').css('height', cw+'px');
         $('#infoExep').css('height', cw+'px');
         $('#infoHitos').css('height', cw+'px');
    });
   
    
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#addProfesional').click(function(){
        var id = $(this).data("id");
        $("#valorLicitacionProf").val( id );
        $('#blackWindow').fadeIn('slow');
        $('#popup').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close').click(function(){
    $('#popup').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
    $(document).ready(function(){
         var cw = $('#infoGeneral').height();
         $('#infoGeneral').css('height', cw+'px');
         $('#infoProf').css('height', cw+'px');
         $('#infoFin').css('height', cw+'px');
         $('#infoEtapa').css('height', cw+'px');
         $('#infoAdic').css('height', cw+'px');
         $('#infoExep').css('height', cw+'px');
         $('#infoHitos').css('height', cw+'px');
    });
   
    
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#addExLic').click(function(){
        var id = $(this).data("id");
        $("#valorLicitacionEx").val( id );
        $('#blackWindow').fadeIn('slow');
        $('#popup1').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close1').click(function(){
    $('#popup1').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#addExReq').click(function(){
        var id = $(this).data("id");
        $("#valorRequerimientoEx").val( id );
        $('#blackWindow').fadeIn('slow');
        $('#popup2').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close2').click(function(){
    $('#popup2').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#changeStatus').click(function(){
        var licitacion = $(this).data("proyecto");
        $("#valorLicFin").val( licitacion );
        $('#blackWindow').fadeIn('slow');
        $('#popup3').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close3').click(function(){
    $('#popup3').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".eRequerimiento").click(function(e){
        e.preventDefault();
        var asEtapa = $(this).data("etapa");
        $("#aaa").val(1);
        $("#valorEtapaAsignada").val(asEtapa);
        $('#blackWindow').fadeIn('slow');
        $('#popup6').fadeIn('slow');
    });

    $('#close6').click(function(){
    $('#popup6').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
}
);    
</script>
<script type="text/javascript">
$(document).ready(function(){
    $(".hitoEstado").click(function(e){
        e.preventDefault();
        var asHito = $(this).data("hito");
        $("#aaa").val(2);
        $("#valorEtapaAsignada").val(asHito);
        $('#blackWindow').fadeIn('slow');
        $('#popup6').fadeIn('slow');
    });

    $('#close6').click(function(){
    $('#popup6').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
}
);    
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#addHito').click(function(){
        var hito = $(this).data("proyecto");
        $("#valorHito").val( hito );
        $('#blackWindow').fadeIn('slow');
        $('#popup5').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close5').click(function(){
    $('#popup5').fadeOut('slow');
    $('#blackWindow').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script lang="text/javascript">
$(document).ready(function(){
    $(".chosen-select").chosen();
});
</script>
<div id="contenedorGraficos">
    {% set largo = (licitacion.factTable| length) - 1 %}
    <h4 class="tituloDash">Dashboard de Licitación {{ licitacion.nombre }} <input type="button" id="changeStatus" class="changeStatus pull-right" data-proyecto="{{ licitacion.id }}" value="Modificar Estado"/></h4>
    <div id="infoLicitacion">Esta licitación se encuentra {{ licitacion.estado.estado }}</div>
    <div  id="infoGeneral" class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-4 infoGeneral">
        <h3>INFORMACIÓN GENERAL</h3>
        <canvas class="avanceGraficoProyecto" id="myChart" width="180" height="180"></canvas>
        <table>
            {% if licitacion.avance == 0 %}
                {% set avance = 0 %}
                    {% else %}
            {% set avance = licitacion.avance * 100 / licitacion.horasProgramadas %}
            {% endif %}
            <tr>
                <td class="first">Avance:</td>
                {% if licitacion.avance == 0 or licitacion.horasProgramadas == 0 %}
                    <td class="second">{{ avance|round(2, 'floor') }}%</td>
                    {% else %}
                    <td class="second">{{ avance|round(2, 'floor') }}%</td>
            {% endif %}
            </tr>
            <tr>
                <td class="first">Fecha de Inicio:</td>
                <td class="second">{{ licitacion.fechaInicio|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td class="first">Fecha de Término</td>
                <td class="second">{{ licitacion.fechaTermino|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <td class="first">Horas Programadas:</td>
                <td class="second">{{ licitacion.horasProgramadas  }} horas</td>
            </tr>
            <tr>
                <td class="first">Horas Avanzadas:</td>
                <td class="second">{{ licitacion.avance }} horas</td>
            </tr>
            <tr>
                <td class="first">Horas Restantes:</td>
                <td class="second">{{ licitacion.horasProgramadas - licitacion.avance }} horas</td>
            </tr>
        </table>
    </div>
    <div class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-4 infoFin">
        <h3>FINANZAS</h3>
        <canvas class="avanceGraficoProyecto" id="myChartFin" width="180" height="180"></canvas>
        <table>
            {% if licitacion.finanzas['valorFecha'] == 0 or licitacion.finanzas['valorPresupuestado'] == 0 %}
                {% set avanceFinanza = 0 %}
                {% else %}
                {% set avanceFinanza = licitacion.finanzas['valorFecha'] * 100 / licitacion.finanzas['valorPresupuestado'] %}
            {% endif %}
            <tr>
                <td class="first">Avance:</td>
                <td class="second">{{ avanceFinanza|round(2, 'floor') }}%</td>
            </tr>
            <tr>
                <td class="first">Valor actual:</td>
                {% if licitacion.finanzas['valorFecha'] == 0 %}
                <td class="second">0 U.F</td>
                {% else %}
                <td class="second">{{ licitacion.finanzas['valorFecha']|round(2, 'floor') }} U.F</td>
                {% endif %}
            </tr>
            <tr>
                <td class="first">Valor Presupuestado:</td>
                <td class="second">{{ licitacion.finanzas['valorPresupuestado']|round(2, 'floor') }} U.F</td>
            </tr>
        </table>
        
    </div>
    <div id="infoProf" class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-4 infoProf">
        <h3>PROFESIONALES ASIGNADOS</h3>
        <div id="containerScroll">
        {% for asignacion in licitacion.asignacion %}
        <div class="profAsignado">
            <div>
                {% if asignacion.profesional.imagenPerfil == null %}
                <div class="dashImgPerfil"><img src="{{ asset('img/male.png')}}" class="img-circle" /></div>
                {% else %}
                <div class="dashImgPerfil"><img src="{{ asset('documentos/')}}{{ asignacion.profesional.imagenPerfil.path }}"></div>
                {% endif %}
                <div class="dashInfoProf">
                    <ul>
                        {% if asignacion.profesional.papellido|length >= 5 %} 
                        <li>{{ asignacion.profesional.pnombre }} {{ asignacion.profesional.papellido|slice(0,3) }}...</li>
                        {% else %}
                         <li>{{ asignacion.profesional.pnombre }} {{ asignacion.profesional.papellido }}</li>
                        {% endif %}
                        <li>{{ asignacion.horas }} horas</li>
                        <li>{{ asignacion.fechaInicio|date('d-m-Y') }}</li>
                        <li>{{ asignacion.fechaTermino|date('d-m-Y') }}</li>
                    </ul>
     
                </div>
            </div>  
        </div>
                
        {% endfor %}
        </div>
        <div><input type="button" id="addProfesional" class="btnAdd center-block" name="agregarProfesional" value="Añadir Profesional" data-id="{{ licitacion.id }}"/></div>
    </div>
    <div class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-6 infoEtapa">
        <h3>REQUERIMIENTOS</h3>
        <table>
            <tr>
                <td class="first">Requerimiento</td>
                <td class="first">Horas</td>
                <td class="first">Profesional</td>
                <td class="first">Horas</td>
                <td class="first">Estado</td>
            </tr>
        {% for requerimiento in licitacion.dependencia %}
            <tr>
                <td class="second"><p>{{ requerimiento.nombre }}</p></td>
                <td class="second">{{ requerimiento.horas }}</td>
                <td class="second">{{ requerimiento.profesional.pnombre  }} {{ requerimiento.profesional.snombre }}</td>
                <td class="second">{{ requerimiento.avanceHoras }}</td>
                <td class="second"><a href="#" data-etapa="{{ requerimiento.id }}" class="eRequerimiento">{% if requerimiento.estado is null %}estado{% else %}{{ requerimiento.estado.estado }}{% endif %}</a></td>
            </tr>
        {% endfor %}
        </table> 
    </div>
    <div class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-6 infoExep">
        <h3>EXEPCIONES</h3>
        <ul class="botones nav nav-tabs">
            <li><a href="#licitacion" data-toggle="tab">Licitacion</a></li>
            <li><a href="#requerimiento" data-toggle="tab">Req.</a></li>   
        </ul>
        <div class="tab-content">
            <div id="licitacion" class="tab-pane active">
                <div id="containerScroll1">
                {% for excepcion in licitacion.excepcionesPlazo %}
                <div class="exepProyecto">
                    <div>
                        <table>
                            <tr>
                                <td class="first">Fecha de Anterior</td>
                                <td class="first">Fecha de Término</td>
                                <td class="first">Fecha de Ingreso</td>
                            </tr>
                            <tr>
                                <td class="second">{{ excepcion.fechaAnterior|date('d-m-Y') }}</td>
                                <td class="second">{{ excepcion.fechaTermino|date('d-m-Y') }}</td>
                                <td class="second">{{ excepcion.fechaIngreso|date('d-m-Y') }}</td>
                            </tr>
                        </table>
                        <div>
                            <ul>
                                <li>Las horas han {% if excepcion.accion == "a" %} <p style="color: #02C7DC">aumentado</p> {% else %} <p style="color:#f9012a">disminuido</p>{% endif %} </li>
                                <li>{{ excepcion.descripcion }}</li>
                                <li>{{ excepcion.horas }} horas han sido modificadas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
                <input type="button" name="addExLic" id="addExLic" value="Añadir Excepción" class="btnAdd center-block" data-id="{{ licitacion.id }}">
            </div>
            <div id="requerimiento" class="tab-pane">
                <div id="containerScroll3">
                <table>
                    <tr>
                        <td class="first">Req.</td>
                        <td class="first">Fecha de Inicio</td>
                        <td class="first">Fecha de Termino</td>
                    </tr>
                {% for requerimiento in licitacion.dependencia %}
                    {% for  excepciones in requerimiento.excepcionesRequerimiento %}  
                        <tr>
                            <td class="second">{{ requerimiento.nombre }}</td>  
                            <td class="second">{{ excepciones.fechaInicio|date('d-m-Y') }}</td>
                            <td class="second">{{ excepciones.fechaTermino|date('d-m-Y') }}</td> 
                        </tr>                       
                    {% endfor %} 
                {% endfor %} 
                </table> 
                </div>  
                <input type="button" name="addExReq" id="addExReq" value="Añadir Excepción" class="btnAdd center-block" data-id="{{ licitacion.id }}">
            </div>
            <div id="profesionales" class="tab-pane">
                3
            </div>
        </div>
    </div> 
    <div id="infohitos" class="dashboardColumn col-xs-12 col-sm-12 col-md-6 col-lg-6 infoHitos">
                <h3>HITOS</h3>
                <div id="containerScroll4">
                    <table>
                        <tr>
                            <td class="first">Nombre</td>
                            <td class="first">Fecha</td>
                            <td class="first">Descripción</td>
                            <td class="first">Estado</td>
                        </tr>
                        {% for hito in licitacion.hito %}
                            <tr>
                                <td class="third">{{ hito.nombre }}</td>
                                <td class="third">{{ hito.fecha|date('d-m-Y') }}</td>
                                <td class="third">{{ hito.descripcion }}</td>  
                                <td class="third"><a href="" class="hitoEstado" data-hito="{{ hito.id }}">{% if hito.estado is null %}estado{% else %}{{ hito.estado.estado }}{% endif %}</a></td>                      
                            </tr>
                        {% endfor %}
                    </table>
                </div> 
        <input type="button" name="addHito" id="addHito" data-proyecto="{{ licitacion.id }}" value="Añadir Hito" class="btnAdd center-block">
    </div>   
</div>
<script language="javascript">
    itemsGraph = [];
    porcentaje = [];
    {% for tiempo in licitacion.factTable %}   
            porcentaje.push({{ tiempo.porcentajeAvance }});
            itemsGraph.push("{{ tiempo.fechaId.fecha|date('d-m-Y') }}");   
    {% endfor %}
    var numero = 1;
    var ctx = document.getElementById("casa").getContext("2d");
    var data = {
    labels: itemsGraph,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: porcentaje
        }
    ]
};

var myLineChart = new Chart(ctx).Line(data);
</script>
<script language="javascript">
           
                var ctx = document.getElementById("myChart").getContext("2d");
                var data = [
                {
                    value: {{ avance }},
                    color:"#363569",
                    highlight: "#363569",
                    label: "Avance"
                },
                {
                    value: 100 - {{ licitacion.avance}},
                    color: "#AFAEFA",
                    highlight: "#AFAEFA",
                    label: "Restante"
                }
                ];
Chart.defaults.global.animation = false;
var myPieChart = new Chart(ctx).Pie(data);
</script>
<script language="javascript">
                var ctx = document.getElementById("myChartFin").getContext("2d");
                var data = [
                {
                    value: {{ avanceFinanza }},
                    color:"#363569",
                    highlight: "#363569",
                    label: "Avance"
                },
                {
                    value: 100 - {{ avanceFinanza }},
                    color: "#AFAEFA",
                    highlight: "#AFAEFA",
                    label: "Restante"
                }
                ];
Chart.defaults.global.animation = false;
var myPieChart = new Chart(ctx).Pie(data);
</script>
<div id="popup" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Profesional a Licitación</h4>
        <div class="close"><a href="#" id="close"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('glicitacion', {'id': licitacion.id})}} " method="post" {{ form_enctype(formProfesional) }} novalidate>
                <table>
                    {{ form_start(formProfesional) }}
                    <tr>
                        <td class="etiqueta"><font style="font-weight: bold;">Profesional a asignar:</font></td>
                        <td>{{ form_widget(formProfesional.profesional, {'attr': {'class': 'largo-box chosen-select'}}) }}</td>
                    </tr>
                    <tr>
                        <td class="etiqueta"><font style="font-weight: bold;">Horas asignadas:</font></td>
                        <td>{{ form_widget(formProfesional.horas, {'attr': {'class': 'largo-box'}}) }}</td>
                    </tr>
                    <tr>
                        <td class="etiqueta"><font style="font-weight: bold;">Valor de la hora de profesional:</font></td>
                        <td>{{ form_widget(formProfesional.valorHora, {'attr': {'class': 'largo-box'}}) }}</td>
                    </tr>
                    <tr>
                        <td>Fecha de inicio</td>
                        <td><input class="DatePicker" name="fechaInicio"></td> 
                    </tr>
                    <tr>
                        <td>Fecha de término</td>
                        <td><input class="DatePicker" name="fechaTermino"></td> 
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btnAdd" name="agregarProfesional" value="Agregar Profesional">
                            <input type="hidden" id="valorLicitacionProf" name="valorProyecto" value="">
                        </td>
                    </tr>
                    {{ form_end(formProfesional) }}
                </table>
           </form>
    </div>
</div>
<div id="popup1" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Excepción a Licitacion</h4>
        <div class="close"><a href="#" id="close1"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('glicitacion', {'id': licitacion.id})}}" method="post" {{ form_enctype(formExcepcionPlazo) }} novalidate>
            <table>
                {{ form_start(formExcepcionPlazo) }}
                <tr>
                    <td>Nueva Fecha de término</td>
                    <td><input class="DatePicker" name="fechaExLic"></td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionPlazo.horas) }}</td>
                    <td>{{ form_widget(formExcepcionPlazo.horas, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcepcionPlazo.horas) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionPlazo.accion) }}</td>
                    <td>{{ form_widget(formExcepcionPlazo.accion, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionPlazo.descripcion) }}</td>
                    <td>{{ form_widget(formExcepcionPlazo.descripcion, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcepcionPlazo.descripcion) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarExcepcionP" value="Agregar Excepción"></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="valorLicitacionEx" name="valorLicitacionEx" value=""></td>
                </tr>
                {{ form_end(formExcepcionPlazo) }}
            </table>
        </form>
    </div>
</div>
<div id="popup2" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Excepción a Requerimiento</h4>
        <div class="close"><a href="#" id="close2"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('glicitacion', {'id': licitacion.id})}}" method="post" {{ form_enctype(formExcepcionReq) }} novalidate>
            <table>
                {{ form_start(formExcepcionReq) }}
                <tr>
                    <td>{{ form_label(formExcepcionReq.requerimiento) }}</td>
                    <td>{{ form_widget(formExcepcionReq.requerimiento, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcepcionReq.requerimiento) }}</td>
                </tr>
                <tr>
                    <td>Nueva Fecha de inicio</td>
                    <td><input class="DatePicker" name="fechaInicioReq"></td>
                </tr>
                <tr>
                    <td>Nueva Fecha de termino</td>
                    <td><input class="DatePicker" name="fechaTerminoReq"></td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionReq.horas) }}</td>
                    <td>{{ form_widget(formExcepcionReq.horas, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcepcionReq.horas) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionReq.accion) }}</td>
                    <td>{{ form_widget(formExcepcionReq.accion, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcepcionReq.descripcion) }}</td>
                    <td>{{ form_widget(formExcepcionReq.descripcion, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcepcionReq.descripcion) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarExcepcionR" value="Agregar Excepción"></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="valorRequerimientoEx" name="valorRequerimientoEx" value=""></td>
                </tr>
                {{ form_end(formExcepcionReq) }}
            </table>
        </form>
    </div>
</div>
<div id="popup5" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Hito</h4>
        <div class="close"><a href="#" id="close5"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('glicitacion', {'id': licitacion.id})}}" method="post" {{ form_enctype(formHito) }} novalidate>
            <table>
                {{ form_start(formHito) }}
                <tr>
                    <td>{{ form_label(formHito.nombre) }}</td>
                    <td>{{ form_widget(formHito.nombre) }}</td>
                    <td>{{ form_errors(formHito.nombre) }}</td>
                </tr>
                <tr>
                    <td>Fecha:</td>
                    <td><input class="DatePicker" name="fechaInicio"></td> 
                </tr>
                <tr>
                    <td>{{ form_label(formHito.descripcion) }}</td>
                    <td>{{ form_widget(formHito.descripcion) }}</td>
                    <td>{{ form_errors(formHito.descripcion) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarHito" value="Agregar Hito"></td>
                    <td><input type="hidden" id="valorHito" name="valorHito" value=""></td>
                </tr>
                {{ form_end(formHito) }}
            </table>
        </form>
    </div>
</div>
<div id="popup3" style="display: none;">
    <div class="content-popup2">
        <h4 class="modalh4">Actualizar estado de Licitación</h4>
        <div class="close"><a href="#" id="close3"><img src="{{ asset('img/close.png') }}"/></a></div>
            <form action="{{ path('licitacion')}} " method="post" {{ form_enctype(formEstadoLic) }} novalidate>
                <table>
                    {{ form_start(formEstadoLic) }}
                    <tr>
                        <td class="etiqueta"><font style="font-weight: bold;">Estado a asignar:</font></td>
                        <td>{{ form_widget(formEstadoLic.estado, {'attr': {'class': 'largo-box chosen-select'}}) }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btnAdd" name="actLicEstado" value="Actualizar"/>
                            <input type="text" id="valorLicFin" name="valorLicFin" value=""/>
                        </td>
                    </tr>
                    {{ form_end(formEstadoLic) }}
                </table>
           </form>
    </div>
</div>
<div id="popup6" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Modificar Estado</h4>
        <div class="close"><a href="#" id="close6"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('glicitacion', {'id': licitacion.id})}}" method="post" {{ form_enctype(formEstado) }} novalidate>
            <table>
                {{ form_start(formEstado) }}
                <tr>
                    <td>{{ form_label(formEstado.estado) }}</td>
                    <td>{{ form_widget(formEstado.estado, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                    <td>{{ form_errors(formEstado.estado) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarEstadoEtapa" value="Modificar Estado"></td>
                    <td><input type="hidden" id="valorEtapaAsignada" name="valorEtapa" value=""></td>
                    <td><input type="hidden" id="aaa" name="aaa" value=""></td>
                </tr>
                {{ form_end(formEstado) }}
            </table>
        </form>
    </div>
</div>
<script>
    $$('.DatePicker').each( function(el){
    new DatePicker(el);
});
</script>


{% endblock %}

