{% extends '::base.html.twig' %}
{% block contenido %}
<link href="{{ asset('css/modal.css') }}" rel="stylesheet" media="screen">
<script type="text/javascript">
$(document).ready(function(){
  $('.botonRequerimiento').click(function(){
        var reunion = $(this).data("button");
        $("#valorRequerimiento").val( reunion );
        $('#popup').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close').click(function(){
    $('#popup').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.botonDocumento').click(function(){
    var documento = $(this).data("documento");
    $("#valorDocumento").val( documento );
    $('#popup1').fadeIn('slow');
    $('.popup-overlay').fadeIn('slow');
    $('.popup-overlay').height($(window).height());
    return false;
});       
$('#close1').click(function(){
    $('#popup1').fadeOut('slow');
    $('.popup1-overlay').fadeOut('slow');
    return false;
});
});
</script>
<script type="text/javascript">
$(document).ready(function(){
    $('.agregarProfLic').click(function(){
    var profesional = $(this).data("button");
    $("#valorLicitacion").val( profesional );
    $('#popup2').fadeIn('slow');
    $('.popup-overlay').fadeIn('slow');
    $('.popup-overlay').height($(window).height());
    return false;    
});        
$('#close2').click(function(){
    $('#popup2').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
});
});
</script>
<script lang="text/javascript">
$(document).ready(function(){
    $(".chosen-select").chosen();
});
</script>
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-clockpicker.min.css') }}">
<form action="{{ path('licitacion')}}" method="post" {{ form_enctype(form) }} novalidate>
    <h4>Agregar Licitación</h4>
    <div class="addUbication">
        <table>
            {{ form_start(form) }}
            <tr>
                <td>{{ form_label(form.nombre, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.nombre, {'attr': {'class': 'chosen-select'}}) }}</td>
                <td>{{ form_errors(form.nombre) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.cliente, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.cliente, {'attr': {'class': 'chosen-select'}}) }}</td>
                <td>{{ form_errors(form.cliente) }}</td>
            </tr>
            <tr>
                <td class="etiqueta">Fecha de inicio</td>
                <td><input class="DatePicker" name="fechaInicio"></td> 
            </tr>
            <tr>
                <td class="etiqueta">Fecha de término</td>
                <td><input class="DatePicker" name="fechaTermino"></td> 
            </tr>
            <tr>
                <td class="etiqueta">Hora de inicio de actividad</td>
                <td>
                    <div id="reloj" class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                        <input type="text" class="form-control" value="13:14" name="horaTermino">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="filaFormulario">
                <td><input type="submit" name="salvarLicitacion" value="Salvar Licitacion"></td>
                <td></td>
            </tr>
            {{ form_end(form) }}
        </table>
    </div>       
</form>
<section class="licitacion">
        {% for listar in listar %}
    <form class="tableLic1 col-xs-12 col-sm-12 col-md-10 col-lg-10" action="{{ path('licitacion')}} " method="post" {{ form_enctype(form) }} novalidate>
        <table class="infoLicitacion">
            <tr class="tituloLicitacion">
                <td class="tabInfo">{{ listar.nombre }}</td>
                <td>Status: Pendiente</td>
                <td></td>
                <td><input type="hidden" name="valorEliminarLic" value="{{ listar.id }}"></td>
                <td><input type="submit" name="eliminar" value="eliminar"></td>
            </tr>
            <tr class="borderLicitacion">
                <td>Resultado</td>
                <td class="tabInfo">PENDIENTE POR DEFINIR</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="borderLicitacion">
                <td>Fecha de Inicio</td>
                <td class="tabInfo">{{ listar.fechaInicio|date('d-m-Y') }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="borderLicitacion">
                <td>Fecha de término</td>
                <td class="tabInfo">{{ listar.fechaTermino|date('d-m-Y') }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>    
            <tr class="borderLicitacion">
                <td>Requerimientos</td>
                <td><input type="button" class="botonRequerimiento" data-button="{{ listar.id }}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>  
            </tr>
            <tr class="borderLicitacion">
                <td>Nombre de requerimiento</td>
                <td>Profesional a cargo</td>
                <td>Status</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for dependencia in listar.dependencia %}
                <form action="{{ path('licitacion')}} " method="post" {{ form_enctype(form) }} novalidate>
                    <tr class="borderLicitacion">
                        <td>{{ dependencia.nombre}}</td>
                        <td>{{ dependencia.profesional.pnombre }} {{ dependencia.profesional.snombre }}</td>
                        {% if dependencia.documento == null %}
                            <td>Pendiente</td>
                        {% else %}
                            <td>Completado</td>
                        {% endif %}
                        <td><input type="submit" name="eliminarReq" value="eliminar Requerimiento"></td>
                            <td>
                                <input type="submit" name="modificar" value="modificar">
                                <input type="hidden" name="valorReqEliminar" value="{{ dependencia.id }}">
                                <input type="hidden" name="valorEliminarLic" value="{{ listar.id }}">
                            </td>
                                {% if dependencia.documento == null %}
                                    <td><input type="button" class="botonDocumento" value="Subir Documento" data-documento="{{ dependencia.id }}"></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
            {% endfor %}
            <tr class="borderLicitacion">
                <td>Profesionales asignados</td>
                <td><input type="button" class="agregarProfLic" data-button="{{ listar.id }}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Nombre de profesional</td>
                <td>Horas asignadas</td>
                <td>Valor por la hora (U.F.)</td>                                
            </tr>
            {% for asignacion in listar.asignacion %}
            <tr>
                <td>{{ asignacion.profesional.pnombre }} {{ asignacion.profesional.snombre }}</td>
                <td>{{ asignacion.horas }}</td>
                <td>{{ asignacion.valorHora }}</td>
                </tr>
            {% endfor %}
            <tr class="borderLicitacion borderBottom marginBottomTable">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tr>
            </table>
        </form>                    
        {% endfor %}
    </section> 
<div id="popup" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Requerimiento a Licitación</h4>
        <div class="close"><a href="#" id="close"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('licitacion')}}" method="post" {{ form_enctype(formRequerimiento) }} novalidate>
            <table>
                {{ form_start(formRequerimiento) }}
                <tr>
                    <td>{{ form_label(formRequerimiento.nombre, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                    <td>{{ form_widget(formRequerimiento.nombre) }}</td>
                    <td>{{ form_errors(formRequerimiento.nombre) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formRequerimiento.profesional, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                    <td>{{ form_widget(formRequerimiento.profesional) }}</td>
                    <td>{{ form_errors(formRequerimiento.profesional) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnForm1" name="salvarRequerimiento" value="Agregar Requerimiento"></td>
                    <td><input type="hidden" id="valorRequerimiento" name="valorReunion" value=""></td>
                    <td></td>
                </tr>
                {{ form_end(formRequerimiento) }}
            </table>
        </form>
    </div>
</div>
<div id="popup1" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Documento a Licitación</h4>
        <div class="close"><a href="#" id="close1"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('licitacion')}}" method="post" {{ form_enctype(formDocumento) }} novalidate>
            <table>
                {{ form_start(formDocumento) }}
                <tr>
                    <td>{{ form_label(formDocumento.file, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                    <td>{{ form_widget(formDocumento.file) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnForm1" name="subirDocumento" value="Salvar Documento"></td>
                    <td><input type="text" id="valorDocumento" name="valorDocumento" value=""></td>
                    <td></td>
                </tr>
                {{ form_end(formDocumento) }}
            </table>
        </form>
    </div>
    
</div>

<div id="popup2" style="display: none;">
    <div class="content-popup2">
        <h4 class="modalh4">Agregar profesional a licitación</h4>
        <div class="close"><a href="#" id="close2"><img src="{{ asset('img/close.png') }}"/></a></div>
            <form action="{{ path('licitacion')}} " method="post" {{ form_enctype(formProfesional) }} novalidate>
                <table>
                    <tr>
                        <td>Profesional a asignar:</td>
                        <td>{{ form_widget(formProfesional.profesional) }}</td>
                    </tr>
                    <tr>
                        <td>Horas asignadas:</td>
                        <td>{{ form_widget(formProfesional.horas) }}</td>
                    </tr>
                    <tr>
                        <td>Valor de la hora de profesional:</td>
                        <td>{{ form_widget(formProfesional.valorHora) }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btnForm1" name="agregarProfesional" value="Agregar Profesional">
                            <input type="hidden" id="valorLicitacion" name="valorLicitacion" value="">
                        </td>
                    </tr>
                </table>
           </form>
    </div>
</div>
<script type="text/javascript" src="{{ asset('js/bootstrap-clockpicker.min.js') }}"></script>
<script type="text/javascript">
$('.clockpicker').clockpicker({
	placement: 'right',
	align: 'left',
})
	.find('input').change(function(){
		console.log(this.value);
	});
var input = $('#single-input').clockpicker({
	placement: 'top',
	align: 'left',
	autoclose: true,
	'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
		donetext: 'Done',
		init: function() { 
			console.log("colorpicker initiated");
		},
		beforeShow: function() {
			console.log("before show");
		},
		afterShow: function() {
			console.log("after show");
		},
		beforeHide: function() {
			console.log("before hide");
		},
		afterHide: function() {
			console.log("after hide");
		},
		beforeHourSelect: function() {
			console.log("before hour selected");
		},
		afterHourSelect: function() {
			console.log("after hour selected");
		},
		beforeDone: function() {
			console.log("before done");
		},
		afterDone: function() {
			console.log("after done");
		}
	})
	.find('input').change(function(){
		console.log(this.value);
	});

// Manually toggle to the minutes view
$('#check-minutes').click(function(e){
	// Have to stop propagation here
	e.stopPropagation();
	input.clockpicker('show')
			.clockpicker('toggleView', 'minutes');
});
if (/mobile/i.test(navigator.userAgent)) {
	$('input').prop('readOnly', true);
}
</script>
</section>
{% endblock %}
{% block horas %}

{{ include ('AppMediBundle:Default:IndexHoras.html.twig',
    {'formHoras': formHoras }) }}

{{ include ('AppMediBundle:Default:IndexReunion.html.twig',
    {'reuniones': reuniones }) }}

{{ include ('AppMediBundle:Default:IndexProyecto.html.twig',
    {'proyectos': proyecto}) }}

{% endblock %}

