{% extends '::base.html.twig' %}
{% block submenu %}
            <nav class="submenu">
                <ul>
                    <li><a href="{{ path('pais')}}">País</a></li>
                    <li><a href="{{ path('region')}}">Región</a></li>
                    <li><a href="{{ path('ciudad')}}">Ciudad</a></li>
                    <li><a href="{{ path('comuna')}}">Comuna</a></li>
                </ul>
            </nav>
{% endblock %}
{% block contenido %}
    <script language="javascript">
    $(document).ready(function(){ 
        $('#agregaritem').on('click',function(e){
            e.preventDefault();
            $( "#formAdd").slideToggle( "slow" );
        });
    });
</script>
<div class="agregarItem">
    <div>
    <h4>Agregar Minuta a reunión</h4>
    <a href="#" id="agregaritem" class="toggle linkMostrar">Mostrar/Ocultar</a>
    <div id="formAdd" style="display:none">
    <div class="addUbication">
        <table>
            <form action="{{ path('minuta', { 'key': app.request.get('key') })}}" method="post" {{ form_enctype(form) }} novalidate>
            {{ form_start(form) }}
            <tr class="filaFormulario">
                <td>{{ form_label(form.descripcion, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.descripcion, {value : modificar.descripcion }) }}</td>
                <td>{{ form_errors(form.descripcion) }}</td> 
            </tr>
            <tr class="filaFormulario">
                <td>{{ form_label(form.profesional, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.profesional) }}</td>
                <td>{{ form_errors(form.profesional) }}</td> 
            </tr>
            {% if tipo == "crear" %}
            <tr class="filaFormulario">
                <td><input type="submit" name="salvarMinuta" value="salvarMinuta"></td>
                <td><input type="hidden" name="idReunion" value="{{ listar.id }}"></td>
                <td></td>
            </tr>
            {% else %}
            <tr class="filaFormulario">
                <td><input type="submit" name="modificarPais" value="Modificar País"></td>
                <td><input type="hidden" name="valorModificar" value="{{ modificar.id }}"></td>
                <td></td>
            </tr>
            {% endif %}
            {{ form_end(form) }}
            </form>
        </table>
    </div> 
    </div>
    </div>
    </div>   
<section class="conjuntoMinuta">
    <div>
        <h4>Puntos tratados en reunión con cliente "{{ listar.cliente.nombre }}" realizada en la fecha "{{ listar.fechaInicio|date('d-m-Y') }}"" a las "{{ listar.fechaInicio|date('H:i') }}"</h4>
        
    </div>
    <div class="licitacion">
    <table class="listar">
        <tr class="trHeader1">
            
            <td class="headerTable">Identificador de minuta</td>
            <td class="headerTable">Fecha de minuta</td>
            <td class="headerTable">Encargado de minuta</td>
            <td class="headerTable">Descripcion de minuta</td>
            <td class="headerTable">Fecha de acuerdo</td>
            <td class="headerTable">Hora de acuerdo</td>
            <td class="headerTable"></td>
            <td class="headerTable"></td>            
            
        </tr>
        {% for minutas in minutas %}
        <form action="{{ path('minuta', { 'key': app.request.get('key') })}} " method="post" {{ form_enctype(form) }} novalidate>
        <tr class="trContent1">    
            <td class="tabInfo">{{ minutas.id }}</td>
            <td class="tabInfo"></td>
            <td class="tabInfo">{{ minutas.profesional.pnombre }} {{ minutas.profesional.snombre }}</td>
            <td class="tabInfo">{{ minutas.descripcion }}</td>
            <td class="tabInfo"><input type="submit" name="eliminar" value="eliminar"></td>
            <td class="tabInfo"><input type="submit" name="modificar" value="modificar"></td>
            <td><input type="hidden" name="valorEliminar" value="{{ minutas.id }}"></td>
        </tr>    
        </form>
        {% endfor %}
    </table>
    </div>
</section>   
{% endblock %}
{% block horas %}

{{ include ('AppMediBundle:Default:IndexHoras.html.twig',
    {'formHoras': formHoras,
    'formHorasLic': formHorasLic }) }}

{{ include ('AppMediBundle:Default:IndexReunion.html.twig',
    {'reuniones': reuniones }) }}

{{ include ('AppMediBundle:Default:IndexProyecto.html.twig',
    {'proyectos': proyecto}) }}

{% endblock %}

