{% extends '::base.html.twig' %}
{% block submenu %}
            <nav class="submenu">
                <ul>
                    <li><a href="{{ path('pais')}}">País</a></li>
                    <li><a href="{{ path('region')}}">Región</a></li>
                    <li><a href="{{ path('ciudad')}}">Ciudad</a></li>
                    <li><a href="{{ path('comuna')}}">Comuna</a></li>
                </ul>
            </nav>
{% endblock %}
{% block contenido %}
<link href="{{ asset('css/modal.css') }}" rel="stylesheet" media="screen">
<script type="text/javascript">
$(document).ready(function(){
  $('.modificarPais').click(function(){
        var id = $(this).data("identificador");
        var nombre = $(this).data("nombre");
        $("#valorIdentificador").val( id );
        document.getElementById("valorNombre").innerHTML = nombre;
        $('#popup').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
    $('#close').click(function(){
        $('#popup').fadeOut('slow');
        $('.popup-overlay').fadeOut('slow');
        return false;
    });
});
</script>
<form action="{{ path('pais')}}" method="post" {{ form_enctype(form) }} novalidate>    
    <h4>Agregar País</h4>
    <div class="addUbication">
        <table>
            {{ form_start(form) }}
            <tr class="filaFormulario">
                <td>{{ form_label(form.nombre, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.nombre) }}</td>
                <td>{{ form_errors(form.nombre) }}</td> 
            </tr>
            <tr class="filaFormulario">
                <td><input type="submit" name="salvarPais" value="salvarPais"></td>
                <td></td>
            </tr>
            {{ form_end(form) }}
        </table>
    </div>    
</form>
<section class="tabla">    
    <h4>Listado de {{informacion.listado}}</h4>
<table class="listar">
        <tr>
            
            <td class="tabSup">Identificador de {{informacion.tabla}}</td>
            <td class="tabSup">Nombre de {{informacion.tabla}}</td>
            <td class="tabSup"></td>
            <td class="tabSup"></td>
            
        </tr>
        {% for listar in listar %}
        <form action="{{ path('pais')}} " method="post" {{ form_enctype(formPais) }} novalidate >
        <tr>    
            <td class="tabInfo" data-identificador="{{ listar.id }}">{{ listar.id }}</td>
            <td class="tabInfo" data-nombre="{{ listar.nombre}}">{{ listar.nombre }}</td>
            <td class="tabInfo"><input type="submit" name="eliminar" value="eliminar"></td>
            <td class="tabInfo"><input type="button" class="modificarPais" data-identificador="{{ listar.id }}" data-nombre = "{{ listar.nombre }}"></td>
            <td><input type="hidden" name="valorEliminar" value="{{ listar.id }}"></td>
            <td><input type="hidden" name="tabla" value="{{ informacion.tabla }}"></td>
        <tr/>    
        </form>
        {% endfor %}
    </table>
</section>
</div>
<div id="popup" style="display: none;">
    <div class="content-popup2">
        <h4 class="modalh4">Usted modificará un País</h4>
        <div class="close"><a href="#" id="close"><img src="{{ asset('img/close.png') }}"/></a></div>
            <form action="{{ path('pais')}} " method="post" {{ form_enctype(formPais) }} novalidate>
                <table>
                    {{ form_start(formPais) }}
                    <tr class="filaFormulario">
                        <td>Valor Actual:</td>
                        <td><div id="valorNombre"></div></td>
                        <td>{{ form_label(formPais.nombre, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                        <td>{{ form_widget(formPais.nombre) }}</td>
                    </tr>
                    <tr class="filaFormulario">
                        <td>{{ form_errors(formPais.nombre) }}</td> 
                    </tr>
                    <tr class="filaFormulario">
                        <td><input type="submit" name="guardarCambios" value="guardarCambios"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="valorIdentificador" id="valorIdentificador" value=""></td>
                    </tr>
                    {{ form_end(formPais) }}
                </table>
           </form>
    </div>
</div>
{% endblock %}
{% block horas %}

{{ include ('AppMediBundle:Default:IndexHoras.html.twig',
    {'formHoras': formHoras }) }}

{{ include ('AppMediBundle:Default:IndexReunion.html.twig',
    {'reuniones': reuniones }) }}

{{ include ('AppMediBundle:Default:IndexProyecto.html.twig',
    {'proyectos': proyecto}) }}

{% endblock %}

