{% extends '::base.html.twig' %}
{% block contenido %}
<link href="{{ asset('css/modal.css') }}" rel="stylesheet" media="screen">
<script src="{{ asset('js/mootools2.js') }}"></script>
<script src="{{ asset('js/calendar.js') }}"></script>
<link href="{{ asset('css/calendar.css') }}" rel="stylesheet" media="screen">
<script type="text/javascript">
$(document).ready(function(){
  $('.addEtapa').click(function(){
        var etapa = $(this).data("etapa");
        $("#valorProyecto").val( etapa );
        $('#popup').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close').click(function(){
    $('#popup').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.addEtapaE').click(function(){
        var etapa = $(this).data("etapa");
        $("#valorProyecto1").val( etapa );
        $('#popup1').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close1').click(function(){
    $('#popup1').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.addEtapaE').click(function(){
        var etapa = $(this).data("etapa");
        $("#valorProyecto1").val( etapa );
        $('#popup1').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close1').click(function(){
    $('#popup1').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.addExcepcionPlazo').click(function(){
        var proyecto = $(this).data("proyecto");
        $("#valorProyectoEx").val( proyecto );
        $('#popup2').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close2').click(function(){
    $('#popup2').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.addExcepcionEtapa').click(function(){
        var etapa = $(this).data("etapa");
        $("#valorEtapaEx").val( etapa );
        $('#popup3').fadeIn('slow');
        $('.popup-overlay').fadeIn('slow');
        $('.popup-overlay').height($(window).height());
        return false;
    });
    
  $('#close3').click(function(){
    $('#popup3').fadeOut('slow');
    $('.popup-overlay').fadeOut('slow');
    return false;
  });
});
</script>
<script>
    $$('input.DatePicker').each( function(el){
	new DatePicker(el);
});
</script>
<form action="{{ path('proyecto')}}" method="post" {{ form_enctype(form) }} novalidate>
    {% if tipo == "crear" %}
    <h4>Agregar Proyecto</h4>
    {% else %}
    <h4>Usted modificará el Proyecto <font class="red">"{{modificar.nombre}}"</font> </h4>
    {% endif %}
    <div class="addUbication">
        <table>
            {{ form_start(form) }}
            <tr>
                <td>{{ form_label(form.nombreProyecto, null, {'label_attr': {'class': 'etiqueta'}}) }}</td>
                <td>{{ form_widget(form.nombreProyecto, {value : modificar.nombreProyecto }) }}</td>
                <td>{{ form_errors(form.nombreProyecto) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(form.descripcion, null, {'label_attr': {'class': 'etiqueta', 'cols': '50', 'rows': '50'}}) }}</td>
                <td>{{ form_widget(form.descripcion, {value : modificar.descripcion }) }}</td>
                <td>{{ form_errors(form.descripcion) }}</td> 
            </tr>
            <tr>
                <td>{{ form_label(form.horasProgramadas, null, {'label_attr': {'class': 'etiqueta', 'cols': '50', 'rows': '50'}}) }}</td>
                <td>{{ form_widget(form.horasProgramadas, {value : modificar.descripcion }) }}</td>
                <td>{{ form_errors(form.horasProgramadas) }}</td> 
            </tr>
            <tr>
                <td>Fecha de inicio</td>
                <td><input type="text" class="DatePicker" name="fechaInicio" type="text"></td> 
            </tr>
            <tr>
                <td>Fecha de término</td>
                <td><input class="DatePicker" name="fechaFin"></td>
            </tr>
            {% if tipo == "crear" %}
            <tr class="filaFormulario">
                <td><input type="submit" name="salvarProyecto" class="btnAdd" value="Salvar Proyecto"></td>
                <td></td>
            </tr>
            {% else %}
            <tr class="filaFormulario">
                <td><input type="submit" name="modificarProyecto" value="Modificar Proyecto"></td>
                <td><input type="hidden" name="valorProyecto" value="{{ modificar.id }}"></td>
                <td></td>
            </tr>
            {% endif %}   
            {{ form_end(form) }}
        </table>
    </div>    
</form>  
{% set contador = 1 %}
    {% for listar in listar %}
<div class="informacionProyecto col-xs-12 col-sm-12 col-md-10 col-lg-10">
    <div class="headerInfo">
        <h3>{{ listar.nombreProyecto }}</h3>
    </div>
    <div class="text-center">
                <ul class="botones nav nav-tabs">
                    <li><a href="#generalPro{{ contador }}" data-toggle="tab">General</a></li>
                    <li><a href="#Profesional{{ contador }}" data-toggle="tab">Profesionales</a></li>
                    <li><a href="#etapas{{ contador }}" data-toggle="tab">Etapas</a></li>
                    <li><a href="#excepcion{{ contador }}" data-toggle="tab">Excepciones</a></li>
                </ul>
    </div>
    <div class="tab-content">
        <div id="generalPro{{ contador }}" class="infoPro tab-pane active">
            <ul>
                <li><font style="font-weight: bold;">Nombre:</font> {{ listar.nombreProyecto }}</li>  
                <li><font style="font-weight: bold;">Inicio:</font></font> {{ listar.fechaInicio|date('d-m-Y') }}</li>
                <li><font style="font-weight: bold;">Término:</font> {{ listar.fechaFin|date('d-m-Y') }}</li>
                <li><font style="font-weight: bold;">Horas:</font> {{ listar.horasProgramadas }}</li>
                <li><font style="font-weight: bold;">Patrocinador:</font> {% if listar.clientes == null %}"Por asignar"{% else %}{{ listar.clientes.nombre }}{% endif %}</li>
            </ul>
        </div>
        <div id="Profesional{{ contador }}" class="tab-pane">
            <h4>Profesionales asignados a Proyecto</h4>
            <table class="reqLicitacion">                        
                        <tr>
                            <td class="tituloReLic">Profesional</td>
                            <td class="tituloReLic">Horas</td>
                            <td class="tituloReLic">Valor por hora (UF)</td>
                            <td class="tituloReLic"></td>
                            
                        </tr>
                        {% for asignacion in listar.asignacion %}
                        <tr>
                            <form action="{{ path('licitacion')}} " method="post" novalidate>
                            <td>{{ asignacion.profesional.pnombre }} {{ asignacion.profesional.snombre }}</td>
                            <td>{{ asignacion.horas }}</td>
                            <td>{{ asignacion.valorHora }}</td>
                            <td><input type="submit" class="btnRemProf" name="btnRemProf"/>
                                <input type="hidden" id="remProfPro" name="removerProLic" value="proyecto"/>
                                <input type="hidden" name="eliminarProfLic" value="{{ asignacion.id }}"/>
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </table>
        </div>
        <div id="etapas{{ contador}}" class="tab-pane">
            <h4>Etapas de proyecto "{{ listar.nombreProyecto }}"</h4>
            <table class="reqLicitacion">
                <tr>
                    <td class="tituloReLic">Nombre de etapa</td>
                    <td class="tituloReLic">Fecha de inicio</td>
                    <td class="tituloReLic">Fecha de término</td> 
                    <td></td>
                </tr>
                {% for asignacionEtapa in listar.asignacionEtapa %}
                    <tr>
                        <td>{{ asignacionEtapa.etapaProyecto.nombre }}</td>
                        <td>{{ asignacionEtapa.fechaInicio|date('d-m-Y') }}</td>
                        <td>{{ asignacionEtapa.fechaTermino|date('d-m-Y') }}</td> 
                        <td><input type="button" class="btnModProfRole addExcepcionEtapa" data-etapa="{{ asignacionEtapa.id }}"></td>
                    </tr>    
            {% endfor %}
            </table>
            <div>
                <input type="button" class="btnAdd addEtapa" value="Añadir Etapa" data-etapa="{{ listar.id }}">
                <input type="button" class="btnAdd addEtapaE" value="Añadir existente" data-etapa="{{ listar.id }}">
            </div>
        </div>
        <div id="excepcion{{ contador}}" class="tab-pane">
            <h4>Excepciones de Proyecto "{{ listar.nombreProyecto }}"</h4>
            <ul class="botones nav nav-tabs">               
                <li><a href="#exProyecto{{ contador }}" data-toggle="tab">Proyecto</a></li>
                <li><a href="#exEtapa{{ contador }}" data-toggle="tab">Etapas</a></li>
                <li><a href="#exProfesionales{{ contador }}" data-toggle="tab">Profesionales</a></li>
             </ul>
            <div class="tab-content">
            <div id="exProyecto{{ contador }}" class="tab-pane">
            <h5><b>Excepciones de Plazo de "{{ listar.nombreProyecto }}"</b></h5>
            <table class="reqLicitacion">
                <tr>
                    <td>Fecha de Término</td>
                    <td>Fecha de Ingreso</td>
                    <td>Fecha anterior</td>
                    <td>Horas modificadas</td>
                    <td>Descripción</td>
                    <td>Acción realizada</td>
                </tr>
                {% for excepcion in listar.excepcionesPlazo %}
                <tr>
                    <td>{{ excepcion.fechaTermino|date('d-m-Y') }}</td>
                    <td>{{ excepcion.fechaIngreso|date('d-m-Y') }}</td>
                    <td>{{ excepcion.fechaAnterior|date('d-m-Y') }}</td>
                    <td>{{ excepcion.horas }}</td>
                    <td>{{ excepcion.descripcion }}</td>
                    {% if excepcion.accion == "a" %}
                    <td>+</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
            <div>
                <input type="button" class="btnAdd addExcepcionPlazo" value="Añadir Excepción" data-proyecto="{{ listar.id }}">
            </div>
            </div>
            <div id="exEtapa{{ contador }}" class="tab-pane">
                <h5><b>Excepciones de Plazo de Etapas de "{{ listar.nombreProyecto }}"</b></h5>
                <table>
                    <tr>
                        <td>Fecha de inicio original</td>
                        <td>Fecha de término original</td>
                        <td>profesional modificador</td>
                        <td>Etapa</td>
                    </tr>
                    {% for etapa in listar.asignacionEtapa %}
                    {% for  excepciones in etapa.excepcionesEtapa %}
                    <tr>
                        <td>{{ excepciones.fechaInicio|date('d-m-Y') }}</td>
                        <td>{{ excepciones.fechaTermino|date('d-m-Y') }}</td>
                        <td>{{ excepciones.profesional.pnombre }} {{ excepciones.profesional.papellido }}</td>
                        <td>{{ excepciones.etapaProyecto.etapaProyecto.nombre }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <div id="exProfesionales{{ contador }}" class="tab-pane">3</div>
            </div>
        </div>
        
        
        
    </div>
    {% set contador = contador + 1 %}
</div>
<div id="popup" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Etapa a Proyecto</h4>
        <div class="close"><a href="#" id="close"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('proyecto')}}" method="post" {{ form_enctype(formEtapa) }} novalidate>
            <table>
                {{ form_start(formEtapa) }}
                <tr>
                    <td>{{ form_label(formEtapa.nombre) }}</td>
                    <td>{{ form_widget(formEtapa.nombre) }}</td>
                    <td>{{ form_errors(formEtapa.nombre) }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td><input class="DatePicker" name="fechaInicio"></td> 
                </tr>
                <tr>
                    <td>Fecha de término</td>
                    <td><input class="DatePicker" name="fechaterminoet"></td> 
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarEtapa" value="Agregar Etapa"></td>
                    <td><input type="hidden" id="valorProyecto" name="valorProyecto1" value=""></td>
                </tr>
                {{ form_end(formEtapa) }}
            </table>
        </form>
    </div>
</div>
<div id="popup1" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Etapa existente a Proyecto</h4>
        <div class="close"><a href="#" id="close1"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('proyecto')}}" method="post" {{ form_enctype(formEtapaE) }} novalidate>
            <table>
                {{ form_start(formEtapaE) }}
                <tr>
                    <td>{{ form_label(formEtapaE.nombre) }}</td>
                    <td>{{ form_widget(formEtapaE.nombre, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                    <td>{{ form_errors(formEtapaE.nombre) }}</td>
                </tr>
                <tr>
                    <td>Fecha de inicio</td>
                    <td><input class="DatePicker" name="fechaInicio"></td> 
                </tr>
                <tr>
                    <td>Fecha de término</td>
                    <td><input class="DatePicker" name="fechaterminoet"></td> 
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarEtapaE" value="Agregar Etapa"></td>
                    <td><input type="text" id="valorProyecto1" name="valorProyecto" value=""></td>
                </tr>
                {{ form_end(formEtapa) }}
            </table>
        </form>
    </div>
</div>
<div id="popup2" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Excepción a Proyecto</h4>
        <div class="close"><a href="#" id="close2"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('proyecto')}}" method="post" {{ form_enctype(formExcPlazoP) }} novalidate>
            <table>
                {{ form_start(formExcPlazoP) }}
                <tr>
                    <td>Nueva Fecha de término</td>
                    <td><input class="DatePicker" name="fechaExPro"></td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcPlazoP.horas) }}</td>
                    <td>{{ form_widget(formExcPlazoP.horas, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcPlazoP.horas) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcPlazoP.accion) }}</td>
                    <td>{{ form_widget(formExcPlazoP.accion, {'attr': {'class': 'chosen-select largo-box'}}) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(formExcPlazoP.descripcion) }}</td>
                    <td>{{ form_widget(formExcPlazoP.descripcion, {'attr': {'class': 'largo-box'}}) }}</td>
                    <td>{{ form_errors(formExcPlazoP.descripcion) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarExcepcionP" value="Agregar Etapa"></td>
                </tr>
                <tr>
                    <td><input type="hidden" id="valorProyectoEx" name="valorProyectoEx" value=""></td>
                </tr>
                {{ form_end(formExcPlazoP) }}
            </table>
        </form>
    </div>
</div>
<div id="popup3" style="display: none;">
    <div class="content-popup">
        <h4 class="modalh4">Agregar Excepción a Etapa</h4>
        <div class="close"><a href="#" id="close3"><img src="{{ asset('img/close.png') }}"/></a></div>
        <form action="{{ path('proyecto')}}" method="post"  novalidate>
            <table>
                <tr>
                    <td>Nueva Fecha de Inicio</td>
                    <td><input class="DatePicker" name="fechaInicioEtapa"></td>
                </tr>
                <tr>
                    <td>Nueva Fecha de término</td>
                    <td><input class="DatePicker" name="fechaTerminoEtapa"></td>
                </tr>
                <tr>
                    <td>Motivo de modificación</td>
                    <td><input type="text" name="descripcion"></td>                    
                </tr>
                <tr>
                    <td><input type="submit" class="btnAdd" name="salvarExcepcionE" value="Salvar Excepción"></td>
                </tr>
                <tr>
                    <td><input type="text" id="valorEtapaEx" name="valorEtapaEx" value=""></td>
                </tr>
            </table>
        </form>
    </div>
</div>
    {% endfor %}
{% endblock %}

{% block horas %}

{{ include ('AppMediBundle:Default:IndexHoras.html.twig',
    {'formHoras': formHoras }) }}

{{ include ('AppMediBundle:Default:IndexReunion.html.twig',
    {'reuniones': reuniones }) }}

{% endblock %}
